/* === CSS RESET === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "figtree", sans-serif;
  font-size: 16px;
  background-color: var(--color-yellow);
}

/* === VARIABLES === */
:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 7%);
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --border-radius: 30px;
}

/* === GENERAL STYLES === */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 20px;
}

.blog-card {
  /* margin: 0 auto; */
  border: 1px solid black;
  width: 375px;
  height: auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px var(--color-black);
}

.blog-card-img {
  padding: 20px;
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
}

.blog-card-tag {
  background-color: var(--color-yellow);
  display: inline;
  padding: 5px 10px;
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
  border-radius: 5px;
}

.blog-card-header {
  font-size: 24px;
  margin: 0 20px;
  font-weight: var(--font-weight-bold);
}

.blog-card-header:hover,
.blog-card-header:focus {
  color: var(--color-yellow);
  cursor: pointer;
}

.blog-card-desc {
  color: var(--color-gray);
}

.blog-card-author-img {
  padding-right: 10px;
}

.blog-card-author {
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
